<footer class="footer">

  <!-- 005 -->
  <div class="footer_menu-block lines">

      <p><span style="color: #000000;">+7 (495) 668-08-31</span></p>

      <div class="email">
                <a href="mailto:sales@cvm24.ru" class="contact-link email"><span class="insales-editable-content" style="display: none">sales@cvm24.ru</span><span class="insales-editable" data-resource="{&quot;id&quot;:459590,&quot;type&quot;:&quot;account&quot;,&quot;field&quot;:&quot;email&quot;}">sales@cvm24.ru</span></a>
      </div>

    </div>

{% comment %}
  <div class="row">

      <div class="footer_menu-block cell-3 cell-4-lg cell-4-sm cell-12-xs">
            <!-- {% include "menu", source_type: 'menu', source_handle: 'footer-menu', menu_class: 'footer-menu' %} -->
      </div>

      <div class="footer_menu-block cell-6 cell-4-lg cell-3-sm cell-12-xs">
           {% include "menu", source_type: 'menu', source_handle: 'support', menu_class: 'footer-menu' %}
      </div>

      <div class="footer-block footer-block-contacts js-contacts-header cell-3 cell-4-lg cell-5-sm cell-12-xs">
      </div>
     </div>
{% endcomment %}

  <div class="copyright">Copyright &copy; 2020 {{account.title}}</div>

{% comment %}
  <button class="js-arrow-up"></button>
  {% endcomment %}
</footer>
