<div class="premrow">
  
  <div class="premlink">
<div class="premblock"><img src="https://static-ru.insales.ru/files/1/3422/12782942/original/Garantiya.png" class="premimg"></div>
 <div class="premtitle"><span>Более 10 лет занимаем лидирующие позиции на рынке флористики</span></div>
    </div>

  <div class="premlink">
<div class="premblock"><img src="https://static-ru.insales.ru/files/1/3438/12782958/original/Широкий_Ассортимент.png" class="premimg"></div>
 <div class="premtitle"><span>Широкий выбор букетов и цветочных композиций</span></div>
    </div>

  <div class="premlink">
<div class="premblock"><img src="https://static-ru.insales.ru/files/1/3444/12782964/original/Высокое_качество.png" class="premimg"></div>
 <div class="premtitle"><span>Гарантия свежайших цветов из Голландии, Эквадора и России</span></div>
    </div>

  <div class="premlink">
<div class="premblock"><img src="https://static-ru.insales.ru/files/1/3459/12782979/original/byket.png" class="premimg"></div>
 <div class="premtitle"><span>Современные упаковочные материалы</span></div>
    </div>

  <div class="premlink">
<div class="premblock"><img src="https://static-ru.insales.ru/files/1/3437/12782957/original/Доставка_по_всей_России.png" class="premimg"></div>
 <div class="premtitle"><span>Круглосуточная и оперативная  доставка в течение 2 часов</span></div>
    </div>

</div>

